$color-text: #323232
$color-title: #57463A
$color-btn-1-text: #F6F6F6
$color-btn-1:#A1B29F
$color-btn-2-text:#4C6D77
$color-btn-2: #F6F6F6
$color-btn-3-text:#715B4B
$color-black: #000
$color-brown:#aa6b3e
