.nikason-family
    grid-column: full-start/-1
    grid-row: 3/4
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr))
    grid-template-rows: repeat(2, min-content)
    transition: all .3s
    &__title
        grid-column: 1/-1
        margin-bottom: clamp(2rem, 6.5vw, 7rem)
        text-align: center
    &__img
        width: 100%

// правая часть секции
.nf-right-side
    display: flex
    flex-direction: column
    justify-content: center
    padding: 1rem 4rem
    background: rgba(235, 238, 235, 1)
    &__title
        margin-bottom: 4rem
    &__text
        max-width: 50rem
        margin-bottom: 5rem

