.header
    grid-column: full-start/-1
    grid-row: header-start/header-end
    display: grid
    grid-template-columns: minmax(5rem, 14rem) repeat(2, minmax(min-content, 58rem)) minmax(5rem, 14rem)
    grid-template-rows: repeat(2, max-content)
    overflow: hidden
    &__navigation
        grid-column: 2/4
        grid-row: 1/2
    &__left-side
        grid-column: 1/3
        grid-row: 2/3
        @include adaptiv(1000px)
            grid-column: 1/-1
    &__right-side
        grid-column: 3/-1
        grid-row: 2/3
        @include adaptiv(1000px)
            grid-column: 1/-1

// меню сайта
.nav-menu
    animation: menu 2s
    padding: 2rem 0
    @include adaptiv(1000px)
        display: none
    &__list
        display: grid
        grid-template-columns: repeat(5, minmax(max-content, 1fr))
        align-items: center
        justify-items: center
    &__item
        transition: all .3s
        &:hover
            transform: scale(1.2)
        &:active
            transform: translateY(.3rem)
    &__link
        text-decoration: none
        color: $signal-black
        font-family: 'Open Sans Light'
        font-size: 1.8rem
        line-height: 150%
        transition: all .3s
        &:hover
            color: $color-brown
            outline: .1rem solid $color-brown
            padding: 0 .4rem
            border-radius: .5rem
    &__logo
        transition: all 1.5s
        animation: logo 2s
        &:hover
            transform: rotate(360deg)

// левая часть секции
.left-side
    border-top: .2rem solid black
    border-bottom: .2rem solid black
    padding: .5rem 0
    animation: home-page-header-ls 2s
    @include adaptiv(1000px)
        height: 50rem
        background: url(../img/home-page/header-mobile.png) center/cover no-repeat
        filter: opacity(50%)
    &__img
        width: 100%
        object-fit: cover
        @include adaptiv(1000px)
            display: none

// правая часть секции
.right-side
    display: flex
    flex-wrap: wrap
    align-content: center
    align-items: center
    padding: 0 2rem
    border-top: .2rem solid black
    border-bottom: .2rem solid black
    animation: home-page-header-rs 2s
    @include adaptiv(1000px)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        z-index: 1
        border: none
    &__text-1
        margin-bottom: 1.7rem
    &__title
        margin-bottom: 4rem
    &__text-2
        margin-bottom: 4.8rem
    &__btn
        display: inline-block
        margin-right: 5rem
        @include adaptiv(1000px)
            margin: 0 0 2rem 0

// иконки
.icons
    display: inline-block
    &__link
        &:not(:last-child)
                margin-right: 4rem
        img
            transition: all .3s
            &:hover
                transform: scale(1.3)