.mc-techniques
    grid-column: full-start/full-end
    grid-row: mc-techniques-start/mc-techniques-end
    padding: 0 2rem
    margin-bottom: 15rem

.box-techniques
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
    grid-template-rows: repeat(2, max-content)
    grid-gap: 4rem 2rem
    &__card
        border: 1px solid $dark-green
        border-radius: .3rem
        transition: all .5s
        &:hover
            transform: scale(1.05, 1.05)
            background: #f2e3d0
            box-shadow: .17rem .17rem .1rem .1rem rgba(178,  175,  175, 0.5)
    &__stage
        height: 11rem
        background: #A1B29F
        position: relative
        display: flex
        align-items: center
        justify-content: center
        font-family: "Open Sans Bold"
        font-size: 2.4rem
        color: #F6F6F6
        span
            width: 6rem
            height: 6rem
            border-radius: 100%
            background: #A1B29F
            display: flex
            align-items: center
            justify-content: center
            position: absolute
            bottom: -60%
            left: 50%
            transform: translate(-50%, -60%)
    &__text
        height: 15rem
        padding: 2rem
        display: flex
        align-items: center
        justify-content: center
        text-align: center