.our-works
    grid-column: coll-start/coll-end
    grid-row: our-works-start/our-works-end
    padding: 10rem 0
    &__works
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr))
        grid-template-rows: repeat(2, max-content)
        grid-gap: 5rem 4rem
        align-items: center
        justify-items: center
    &__img
        display: grid
        grid-template-rows: repeat(2, max-content)
        justify-items: center
        grid-row-gap: 2.5rem
        img
            width: 100%
    &__btn
        text-align: center