.section-background
    grid-column: full-start/ -1
    grid-row: 4/5
    background: url(../img/master-classes-page/section-background-img.png) center / cover no-repeat
    padding: 18rem 24rem
    text-align: center