.order-furniture
    grid-column: full-start/-1
    grid-row: header-start/header-end
    display: grid
    grid-template-columns: minmax(5rem, 14rem) minmax(min-content, 116rem) minmax(5rem, 14rem)
    grid-template-rows: repeat(2, max-content)
    &__navigation
        grid-column: 2/3
        grid-row: 1/2
    &__section
        grid-column: 1/-1
        grid-row: 2/3
        height: 82vh
        padding: 2rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background: $gradient-signal-black-05, url(../img/order-furniture/header-img.png) center / cover no-repeat
        text-align: center
    &__text
        margin-bottom: .5rem
        animation: order-furniture-header-text 2s ease-in-out
    &__title
        margin-bottom: 9rem
    &__btn
        animation: order-furniture-header-btn 2s ease-in-out

.title-h1
    &__1
        margin-bottom: 2.5rem
        animation: order-furniture-header-title-1 3s ease-in-out
    &__2
        animation: order-furniture-header-title-2 3s ease-in-out