.reviews
    grid-column: coll-start/coll-end
    grid-row: reviews-start/reviews-end
    &__title
        margin-bottom: 7rem

.box-feedback
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
    grid-template-rows: repeat(3, max-content)
    grid-gap: 4rem 2rem
    &__card
        border: 1px solid #758a73
        padding: 1.5rem
        &_figure
            object-fit: cover
            max-width: 12rem
            max-height: 12rem
            border-radius: 100%
            position: relative
            float: left
            shape-outside: circle(50%)
            margin-right: 2rem
            img
                width: 100%
                border-radius: 100%
        &_name
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,50%)
            letter-spacing: 0.08em
            text-align: center
            opacity: 0