.brand-information
    grid-column: coll-start/coll-end
    grid-row: brand-inf-start/brand-inf-end
    padding: 10rem 0

// о бренде
.primary
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr))
    grid-template-rows: repeat(2, min-content)
    grid-gap: 7rem 4rem
    text-align: center
    margin-bottom: clamp(2rem, 6.5vw, 7rem)
    transition: all .3s
    &:hover
        transform: scale(1.05)
    &__title
        grid-column: 1/-1
        text-align: left
    &__content
        padding-bottom: 1.4rem
        border-bottom: .3rem solid $pale-brown

// о производстве
.secondary
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(23.5rem, 1fr))
    grid-template-rows: repeat(3, min-content)
    align-items: center
    transition: all .3s
    &:hover
        transform: scale(1.05)
    &__title
        grid-column: 1/-1
        margin-bottom: clamp(2rem, 6.5vw, 7rem)
    &__icon
        display: inline-grid
        justify-items: center
        grid-row-gap: 2rem
        padding: 5rem 0
        border: .1rem solid black