.section-video
    grid-column: coll-start/coll-end
    grid-row: section-video-start/section-video-end
    padding: 10rem 0
    &__title
        margin-bottom: clamp(2rem, 6.5vw, 7rem)
    &__video-review
        width: 100%