.reviews
    grid-column: full-start/full-end
    grid-row: reviews-start/reviews-end
    padding: 0 2rem
    margin-bottom: 15rem
    transition: all .3s

// блок с отзывами
.box-feedback
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr))
    grid-template-rows: repeat(4, max-content)
    grid-gap: 3rem 2rem
    &__card
        border: 1px solid $dark-green
        padding: 2.5rem
        border-radius: .3rem
        transition: all .5s
        &:hover
            transform: scale(1.05, 1.05)
            background: #f2e3d0
            box-shadow: .17rem .17rem .1rem .1rem rgba(178,  175,  175, 0.5)
        &_figure
            object-fit: cover
            max-width: 12rem
            max-height: 12rem
            border-radius: 100%
            position: relative
            float: left
            shape-outside: circle(50%)
            margin-right: 2rem
            img
                width: 100%
                border-radius: 100%
                transition: all .5s
        &:hover img
            transform: scale(.9, .9)
            filter: blur(.2rem) brightness(85%)
        &_name
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,50%)
            letter-spacing: 0.08em
            text-align: center
            transition: all .5s
            opacity: 0
            @include adaptiv(1000px)
                font-size: 1.5rem
                line-height: 130%
        &:hover &_name
            opacity: 1
            transform: translate(-50%,-30%)